.header{
   /* width: 100%;*/
    
    padding: 1rem 2rem;
    border-bottom: 1px solid gray;;
}

.header h1{
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border-radius: 0.4rem;
}

.header input[type="search"]{
    /*font-size: 12px;*/    
    background-color: #f5f6f7;
    border-radius: 0.4rem;
    margin-left: 10px;
}

.header button{
    background-color: #3b49df;
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    text-align: center;
    transition: 0.5s ease-in-out;
    transform: all;
}

.header a{
    font-size: 1.25rem;
    color:#3b49df;
    padding-right: 1rem;
}